.RS-ElementBase {
color: var(--base-color, initial);
display: var(--base-display, var(--default-display, block));
position: var(--base-position, initial);
width: var(--base-width, initial);
min-width: var(--base-min-width, initial);
max-width: var(--base-max-width, initial);
height: var(--base-height, initial);
min-height: var(--base-min-height, initial);
max-height: var(--base-max-height, initial);
top: var(--base-top, initial);
bottom: var(--base-bottom, initial);
left: var(--base-left, initial);
right: var(--base-right, initial);
padding-left: var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0))));
padding-right: var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0))));
padding-top: var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0))));
padding-bottom: var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0))));
margin-left: var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0))));
margin-right: var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0))));
margin-top: var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0))));
margin-bottom: var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0))));
animation: var(--base-animation, initial);
animation-delay: var(--base-animation-delay, initial);
animation-direction: var(--base-animation-direction, initial);
animation-duration: var(--base-animation-duration, initial);
animation-fill-mode: var(--base-animation-fill-mode, initial);
animation-iteration-count: var(--base-animation-iteration-count, initial);
animation-name: var(--base-animation-name, initial);
animation-play-state: var(--base-animation-play-state, initial);
animation-timing-function: var(--base-animation-timing-function, initial);
background: var(--base-background, initial);
background-attachment: var(--base-background-attachment, initial);
background-blend-mode: var(--base-background-blend-mode, initial);
background-clip: var(--base-background-clip, initial);
background-color: var(--base-background-color, initial);
background-image: var(--base-background-image, initial);
background-origin: var(--base-background-origin, initial);
background-position: var(--base-background-position, initial);
background-position-x: var(--base-background-position-x, initial);
background-position-y: var(--base-background-position-y, initial);
background-repeat: var(--base-background-repeat, initial);
background-size: var(--base-background-size, initial);
border-radius: var(--base-border-radius, initial);
border-bottom-left-radius: var(--base-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--base-border-bottom-right-radius, initial);
border-top-left-radius: var(--base-border-top-left-radius, initial);
border-top-right-radius: var(--base-border-top-right-radius, initial);
border-collapse: var(--base-border-collapse, initial);
border-spacing: var(--base-border-spacing, initial);
border: var(--base-border, initial);
border-color: var(--base-border-color, initial);
border-style: var(--base-border-style, initial);
border-width: var(--base-border-width, initial);
border-bottom: var(--base-border-bottom, initial);
border-bottom-color: var(--base-border-bottom-color, initial);
border-bottom-style: var(--base-border-bottom-style, initial);
border-bottom-width: var(--base-border-bottom-width, initial);
border-left: var(--base-border-left, initial);
border-left-color: var(--base-border-left-color, initial);
border-left-style: var(--base-border-left-style, initial);
border-left-width: var(--base-border-left-width, initial);
border-right: var(--base-border-right, initial);
border-right-color: var(--base-border-right-color, initial);
border-right-style: var(--base-border-right-style, initial);
border-right-width: var(--base-border-right-width, initial);
border-top: var(--base-border-top, initial);
border-top-color: var(--base-border-top-color, initial);
border-top-style: var(--base-border-top-style, initial);
border-top-width: var(--base-border-top-width, initial);
box-shadow: var(--base-box-shadow, initial);
box-sizing: var(--base-box-sizing, initial);
float: var(--base-float, initial);
clear: var(--base-clear, initial);
content: var(--base-content, initial);
cursor: var(--base-cursor, initial);
direction: var(--base-direction, initial);
flex: var(--base-flex, initial);
flex-basis: var(--base-flex-basis, initial);
flex-direction: var(--base-flex-direction, initial);
flex-flow: var(--base-flex-flow, initial);
flex-grow: var(--base-flex-grow, initial);
flex-shrink: var(--base-flex-shrink, initial);
flex-wrap: var(--base-flex-wrap, initial);
justify-content: var(--base-justify-content, initial);
align-items: var(--base-align-items, initial);
align-self: var(--base-align-self, initial);
align-content: var(--base-align-content, initial);
order: var(--base-order, initial);
font: var(--base-font, initial);
font-family: var(--base-font-family, initial);
font-size: var(--base-font-size, initial);
font-style: var(--base-font-style, initial);
font-weight: var(--base-font-weight, initial);
line-height: var(--base-line-height, initial);
list-style: var(--base-list-style, initial);
list-style-image: var(--base-list-style-image, initial);
list-style-position: var(--base-list-style-position, initial);
list-style-type: var(--base-list-style-type, initial);
opacity: var(--base-opacity, initial);
outline: var(--base-outline, initial);
outline-color: var(--base-outline-color, initial);
outline-offset: var(--base-outline-offset, initial);
outline-style: var(--base-outline-style, initial);
outline-width: var(--base-outline-width, initial);
overflow: var(--base-overflow, initial);
overflow-x: var(--base-overflow-x, initial);
overflow-y: var(--base-overflow-y, initial);
pointer-events: var(--base-pointer-events, initial);
resize: var(--base-resize, initial);
text-align: var(--base-text-align, initial);
text-decoration: var(--base-text-decoration, initial);
text-overflow: var(--base-text-overflow, initial);
text-shadow: var(--base-text-shadow, initial);
text-transform: var(--base-text-transform, initial);
transform: var(--base-transform, initial);
transform-origin: var(--base-transform-origin, initial);
transform-style: var(--base-transform-style, initial);
transition: var(--base-transition, initial);
transition-delay: var(--base-transition-delay, initial);
transition-duration: var(--base-transition-duration, initial);
transition-property: var(--base-transition-property, initial);
transition-timing-function: var(--base-transition-timing-function, initial);
user-select: var(--base-user-select, initial);
vertical-align: var(--base-vertical-align, initial);
visibility: var(--base-visibility, initial);
white-space: var(--base-white-space, initial);
z-index: var(--base-z-index, initial);
}
.RS-ElementBase:focus {
color: var(--focus-color, initial);
display: var(--focus-display, var(--base-display, var(--default-display, block)));
position: var(--focus-position, initial);
width: var(--focus-width, initial);
min-width: var(--focus-min-width, initial);
max-width: var(--focus-max-width, initial);
height: var(--focus-height, initial);
min-height: var(--focus-min-height, initial);
max-height: var(--focus-max-height, initial);
top: var(--focus-top, initial);
bottom: var(--focus-bottom, initial);
left: var(--focus-left, initial);
right: var(--focus-right, initial);
padding-left: var(--focus-padding-left, var(--focus-padding-horizontal, var(--focus-padding, var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0)))))));
padding-right: var(--focus-padding-right, var(--focus-padding-horizontal, var(--focus-padding, var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0)))))));
padding-top: var(--focus-padding-top, var(--focus-padding-vertical, var(--focus-padding, var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0)))))));
padding-bottom: var(--focus-padding-bottom, var(--focus-padding-vertical, var(--focus-padding, var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0)))))));
margin-left: var(--focus-margin-left, var(--focus-margin-horizontal, var(--focus-margin, var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0)))))));
margin-right: var(--focus-margin-right, var(--focus-margin-horizontal, var(--focus-margin, var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0)))))));
margin-top: var(--focus-margin-top, var(--focus-margin-vertical, var(--focus-margin, var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0)))))));
margin-bottom: var(--focus-margin-bottom, var(--focus-margin-vertical, var(--focus-margin, var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0)))))));
animation: var(--focus-animation, initial);
animation-delay: var(--focus-animation-delay, initial);
animation-direction: var(--focus-animation-direction, initial);
animation-duration: var(--focus-animation-duration, initial);
animation-fill-mode: var(--focus-animation-fill-mode, initial);
animation-iteration-count: var(--focus-animation-iteration-count, initial);
animation-name: var(--focus-animation-name, initial);
animation-play-state: var(--focus-animation-play-state, initial);
animation-timing-function: var(--focus-animation-timing-function, initial);
background: var(--focus-background, initial);
background-attachment: var(--focus-background-attachment, initial);
background-blend-mode: var(--focus-background-blend-mode, initial);
background-clip: var(--focus-background-clip, initial);
background-color: var(--focus-background-color, initial);
background-image: var(--focus-background-image, initial);
background-origin: var(--focus-background-origin, initial);
background-position: var(--focus-background-position, initial);
background-position-x: var(--focus-background-position-x, initial);
background-position-y: var(--focus-background-position-y, initial);
background-repeat: var(--focus-background-repeat, initial);
background-size: var(--focus-background-size, initial);
border-radius: var(--focus-border-radius, initial);
border-bottom-left-radius: var(--focus-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--focus-border-bottom-right-radius, initial);
border-top-left-radius: var(--focus-border-top-left-radius, initial);
border-top-right-radius: var(--focus-border-top-right-radius, initial);
border-collapse: var(--focus-border-collapse, initial);
border-spacing: var(--focus-border-spacing, initial);
border: var(--focus-border, initial);
border-color: var(--focus-border-color, initial);
border-style: var(--focus-border-style, initial);
border-width: var(--focus-border-width, initial);
border-bottom: var(--focus-border-bottom, initial);
border-bottom-color: var(--focus-border-bottom-color, initial);
border-bottom-style: var(--focus-border-bottom-style, initial);
border-bottom-width: var(--focus-border-bottom-width, initial);
border-left: var(--focus-border-left, initial);
border-left-color: var(--focus-border-left-color, initial);
border-left-style: var(--focus-border-left-style, initial);
border-left-width: var(--focus-border-left-width, initial);
border-right: var(--focus-border-right, initial);
border-right-color: var(--focus-border-right-color, initial);
border-right-style: var(--focus-border-right-style, initial);
border-right-width: var(--focus-border-right-width, initial);
border-top: var(--focus-border-top, initial);
border-top-color: var(--focus-border-top-color, initial);
border-top-style: var(--focus-border-top-style, initial);
border-top-width: var(--focus-border-top-width, initial);
box-shadow: var(--focus-box-shadow, initial);
box-sizing: var(--focus-box-sizing, initial);
float: var(--focus-float, initial);
clear: var(--focus-clear, initial);
content: var(--focus-content, initial);
cursor: var(--focus-cursor, initial);
direction: var(--focus-direction, initial);
flex: var(--focus-flex, initial);
flex-basis: var(--focus-flex-basis, initial);
flex-direction: var(--focus-flex-direction, initial);
flex-flow: var(--focus-flex-flow, initial);
flex-grow: var(--focus-flex-grow, initial);
flex-shrink: var(--focus-flex-shrink, initial);
flex-wrap: var(--focus-flex-wrap, initial);
justify-content: var(--focus-justify-content, initial);
align-items: var(--focus-align-items, initial);
align-self: var(--focus-align-self, initial);
align-content: var(--focus-align-content, initial);
order: var(--focus-order, initial);
font: var(--focus-font, initial);
font-family: var(--focus-font-family, initial);
font-size: var(--focus-font-size, initial);
font-style: var(--focus-font-style, initial);
font-weight: var(--focus-font-weight, initial);
line-height: var(--focus-line-height, initial);
list-style: var(--focus-list-style, initial);
list-style-image: var(--focus-list-style-image, initial);
list-style-position: var(--focus-list-style-position, initial);
list-style-type: var(--focus-list-style-type, initial);
opacity: var(--focus-opacity, initial);
outline: var(--focus-outline, initial);
outline-color: var(--focus-outline-color, initial);
outline-offset: var(--focus-outline-offset, initial);
outline-style: var(--focus-outline-style, initial);
outline-width: var(--focus-outline-width, initial);
overflow: var(--focus-overflow, initial);
overflow-x: var(--focus-overflow-x, initial);
overflow-y: var(--focus-overflow-y, initial);
pointer-events: var(--focus-pointer-events, initial);
resize: var(--focus-resize, initial);
text-align: var(--focus-text-align, initial);
text-decoration: var(--focus-text-decoration, initial);
text-overflow: var(--focus-text-overflow, initial);
text-shadow: var(--focus-text-shadow, initial);
text-transform: var(--focus-text-transform, initial);
transform: var(--focus-transform, initial);
transform-origin: var(--focus-transform-origin, initial);
transform-style: var(--focus-transform-style, initial);
transition: var(--focus-transition, initial);
transition-delay: var(--focus-transition-delay, initial);
transition-duration: var(--focus-transition-duration, initial);
transition-property: var(--focus-transition-property, initial);
transition-timing-function: var(--focus-transition-timing-function, initial);
user-select: var(--focus-user-select, initial);
vertical-align: var(--focus-vertical-align, initial);
visibility: var(--focus-visibility, initial);
white-space: var(--focus-white-space, initial);
z-index: var(--focus-z-index, initial);
}
.RS-ElementBase:hover {
color: var(--hover-color, initial);
display: var(--hover-display, var(--base-display, var(--default-display, block)));
position: var(--hover-position, initial);
width: var(--hover-width, initial);
min-width: var(--hover-min-width, initial);
max-width: var(--hover-max-width, initial);
height: var(--hover-height, initial);
min-height: var(--hover-min-height, initial);
max-height: var(--hover-max-height, initial);
top: var(--hover-top, initial);
bottom: var(--hover-bottom, initial);
left: var(--hover-left, initial);
right: var(--hover-right, initial);
padding-left: var(--hover-padding-left, var(--hover-padding-horizontal, var(--hover-padding, var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0)))))));
padding-right: var(--hover-padding-right, var(--hover-padding-horizontal, var(--hover-padding, var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0)))))));
padding-top: var(--hover-padding-top, var(--hover-padding-vertical, var(--hover-padding, var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0)))))));
padding-bottom: var(--hover-padding-bottom, var(--hover-padding-vertical, var(--hover-padding, var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0)))))));
margin-left: var(--hover-margin-left, var(--hover-margin-horizontal, var(--hover-margin, var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0)))))));
margin-right: var(--hover-margin-right, var(--hover-margin-horizontal, var(--hover-margin, var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0)))))));
margin-top: var(--hover-margin-top, var(--hover-margin-vertical, var(--hover-margin, var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0)))))));
margin-bottom: var(--hover-margin-bottom, var(--hover-margin-vertical, var(--hover-margin, var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0)))))));
animation: var(--hover-animation, initial);
animation-delay: var(--hover-animation-delay, initial);
animation-direction: var(--hover-animation-direction, initial);
animation-duration: var(--hover-animation-duration, initial);
animation-fill-mode: var(--hover-animation-fill-mode, initial);
animation-iteration-count: var(--hover-animation-iteration-count, initial);
animation-name: var(--hover-animation-name, initial);
animation-play-state: var(--hover-animation-play-state, initial);
animation-timing-function: var(--hover-animation-timing-function, initial);
background: var(--hover-background, initial);
background-attachment: var(--hover-background-attachment, initial);
background-blend-mode: var(--hover-background-blend-mode, initial);
background-clip: var(--hover-background-clip, initial);
background-color: var(--hover-background-color, initial);
background-image: var(--hover-background-image, initial);
background-origin: var(--hover-background-origin, initial);
background-position: var(--hover-background-position, initial);
background-position-x: var(--hover-background-position-x, initial);
background-position-y: var(--hover-background-position-y, initial);
background-repeat: var(--hover-background-repeat, initial);
background-size: var(--hover-background-size, initial);
border-radius: var(--hover-border-radius, initial);
border-bottom-left-radius: var(--hover-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--hover-border-bottom-right-radius, initial);
border-top-left-radius: var(--hover-border-top-left-radius, initial);
border-top-right-radius: var(--hover-border-top-right-radius, initial);
border-collapse: var(--hover-border-collapse, initial);
border-spacing: var(--hover-border-spacing, initial);
border: var(--hover-border, initial);
border-color: var(--hover-border-color, initial);
border-style: var(--hover-border-style, initial);
border-width: var(--hover-border-width, initial);
border-bottom: var(--hover-border-bottom, initial);
border-bottom-color: var(--hover-border-bottom-color, initial);
border-bottom-style: var(--hover-border-bottom-style, initial);
border-bottom-width: var(--hover-border-bottom-width, initial);
border-left: var(--hover-border-left, initial);
border-left-color: var(--hover-border-left-color, initial);
border-left-style: var(--hover-border-left-style, initial);
border-left-width: var(--hover-border-left-width, initial);
border-right: var(--hover-border-right, initial);
border-right-color: var(--hover-border-right-color, initial);
border-right-style: var(--hover-border-right-style, initial);
border-right-width: var(--hover-border-right-width, initial);
border-top: var(--hover-border-top, initial);
border-top-color: var(--hover-border-top-color, initial);
border-top-style: var(--hover-border-top-style, initial);
border-top-width: var(--hover-border-top-width, initial);
box-shadow: var(--hover-box-shadow, initial);
box-sizing: var(--hover-box-sizing, initial);
float: var(--hover-float, initial);
clear: var(--hover-clear, initial);
content: var(--hover-content, initial);
cursor: var(--hover-cursor, initial);
direction: var(--hover-direction, initial);
flex: var(--hover-flex, initial);
flex-basis: var(--hover-flex-basis, initial);
flex-direction: var(--hover-flex-direction, initial);
flex-flow: var(--hover-flex-flow, initial);
flex-grow: var(--hover-flex-grow, initial);
flex-shrink: var(--hover-flex-shrink, initial);
flex-wrap: var(--hover-flex-wrap, initial);
justify-content: var(--hover-justify-content, initial);
align-items: var(--hover-align-items, initial);
align-self: var(--hover-align-self, initial);
align-content: var(--hover-align-content, initial);
order: var(--hover-order, initial);
font: var(--hover-font, initial);
font-family: var(--hover-font-family, initial);
font-size: var(--hover-font-size, initial);
font-style: var(--hover-font-style, initial);
font-weight: var(--hover-font-weight, initial);
line-height: var(--hover-line-height, initial);
list-style: var(--hover-list-style, initial);
list-style-image: var(--hover-list-style-image, initial);
list-style-position: var(--hover-list-style-position, initial);
list-style-type: var(--hover-list-style-type, initial);
opacity: var(--hover-opacity, initial);
outline: var(--hover-outline, initial);
outline-color: var(--hover-outline-color, initial);
outline-offset: var(--hover-outline-offset, initial);
outline-style: var(--hover-outline-style, initial);
outline-width: var(--hover-outline-width, initial);
overflow: var(--hover-overflow, initial);
overflow-x: var(--hover-overflow-x, initial);
overflow-y: var(--hover-overflow-y, initial);
pointer-events: var(--hover-pointer-events, initial);
resize: var(--hover-resize, initial);
text-align: var(--hover-text-align, initial);
text-decoration: var(--hover-text-decoration, initial);
text-overflow: var(--hover-text-overflow, initial);
text-shadow: var(--hover-text-shadow, initial);
text-transform: var(--hover-text-transform, initial);
transform: var(--hover-transform, initial);
transform-origin: var(--hover-transform-origin, initial);
transform-style: var(--hover-transform-style, initial);
transition: var(--hover-transition, initial);
transition-delay: var(--hover-transition-delay, initial);
transition-duration: var(--hover-transition-duration, initial);
transition-property: var(--hover-transition-property, initial);
transition-timing-function: var(--hover-transition-timing-function, initial);
user-select: var(--hover-user-select, initial);
vertical-align: var(--hover-vertical-align, initial);
visibility: var(--hover-visibility, initial);
white-space: var(--hover-white-space, initial);
z-index: var(--hover-z-index, initial);
}
.RS-ElementBase:active {
color: var(--active-color, initial);
display: var(--active-display, var(--base-display, var(--default-display, block)));
position: var(--active-position, initial);
width: var(--active-width, initial);
min-width: var(--active-min-width, initial);
max-width: var(--active-max-width, initial);
height: var(--active-height, initial);
min-height: var(--active-min-height, initial);
max-height: var(--active-max-height, initial);
top: var(--active-top, initial);
bottom: var(--active-bottom, initial);
left: var(--active-left, initial);
right: var(--active-right, initial);
padding-left: var(--active-padding-left, var(--active-padding-horizontal, var(--active-padding, var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0)))))));
padding-right: var(--active-padding-right, var(--active-padding-horizontal, var(--active-padding, var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0)))))));
padding-top: var(--active-padding-top, var(--active-padding-vertical, var(--active-padding, var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0)))))));
padding-bottom: var(--active-padding-bottom, var(--active-padding-vertical, var(--active-padding, var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0)))))));
margin-left: var(--active-margin-left, var(--active-margin-horizontal, var(--active-margin, var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0)))))));
margin-right: var(--active-margin-right, var(--active-margin-horizontal, var(--active-margin, var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0)))))));
margin-top: var(--active-margin-top, var(--active-margin-vertical, var(--active-margin, var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0)))))));
margin-bottom: var(--active-margin-bottom, var(--active-margin-vertical, var(--active-margin, var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0)))))));
animation: var(--active-animation, initial);
animation-delay: var(--active-animation-delay, initial);
animation-direction: var(--active-animation-direction, initial);
animation-duration: var(--active-animation-duration, initial);
animation-fill-mode: var(--active-animation-fill-mode, initial);
animation-iteration-count: var(--active-animation-iteration-count, initial);
animation-name: var(--active-animation-name, initial);
animation-play-state: var(--active-animation-play-state, initial);
animation-timing-function: var(--active-animation-timing-function, initial);
background: var(--active-background, initial);
background-attachment: var(--active-background-attachment, initial);
background-blend-mode: var(--active-background-blend-mode, initial);
background-clip: var(--active-background-clip, initial);
background-color: var(--active-background-color, initial);
background-image: var(--active-background-image, initial);
background-origin: var(--active-background-origin, initial);
background-position: var(--active-background-position, initial);
background-position-x: var(--active-background-position-x, initial);
background-position-y: var(--active-background-position-y, initial);
background-repeat: var(--active-background-repeat, initial);
background-size: var(--active-background-size, initial);
border-radius: var(--active-border-radius, initial);
border-bottom-left-radius: var(--active-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--active-border-bottom-right-radius, initial);
border-top-left-radius: var(--active-border-top-left-radius, initial);
border-top-right-radius: var(--active-border-top-right-radius, initial);
border-collapse: var(--active-border-collapse, initial);
border-spacing: var(--active-border-spacing, initial);
border: var(--active-border, initial);
border-color: var(--active-border-color, initial);
border-style: var(--active-border-style, initial);
border-width: var(--active-border-width, initial);
border-bottom: var(--active-border-bottom, initial);
border-bottom-color: var(--active-border-bottom-color, initial);
border-bottom-style: var(--active-border-bottom-style, initial);
border-bottom-width: var(--active-border-bottom-width, initial);
border-left: var(--active-border-left, initial);
border-left-color: var(--active-border-left-color, initial);
border-left-style: var(--active-border-left-style, initial);
border-left-width: var(--active-border-left-width, initial);
border-right: var(--active-border-right, initial);
border-right-color: var(--active-border-right-color, initial);
border-right-style: var(--active-border-right-style, initial);
border-right-width: var(--active-border-right-width, initial);
border-top: var(--active-border-top, initial);
border-top-color: var(--active-border-top-color, initial);
border-top-style: var(--active-border-top-style, initial);
border-top-width: var(--active-border-top-width, initial);
box-shadow: var(--active-box-shadow, initial);
box-sizing: var(--active-box-sizing, initial);
float: var(--active-float, initial);
clear: var(--active-clear, initial);
content: var(--active-content, initial);
cursor: var(--active-cursor, initial);
direction: var(--active-direction, initial);
flex: var(--active-flex, initial);
flex-basis: var(--active-flex-basis, initial);
flex-direction: var(--active-flex-direction, initial);
flex-flow: var(--active-flex-flow, initial);
flex-grow: var(--active-flex-grow, initial);
flex-shrink: var(--active-flex-shrink, initial);
flex-wrap: var(--active-flex-wrap, initial);
justify-content: var(--active-justify-content, initial);
align-items: var(--active-align-items, initial);
align-self: var(--active-align-self, initial);
align-content: var(--active-align-content, initial);
order: var(--active-order, initial);
font: var(--active-font, initial);
font-family: var(--active-font-family, initial);
font-size: var(--active-font-size, initial);
font-style: var(--active-font-style, initial);
font-weight: var(--active-font-weight, initial);
line-height: var(--active-line-height, initial);
list-style: var(--active-list-style, initial);
list-style-image: var(--active-list-style-image, initial);
list-style-position: var(--active-list-style-position, initial);
list-style-type: var(--active-list-style-type, initial);
opacity: var(--active-opacity, initial);
outline: var(--active-outline, initial);
outline-color: var(--active-outline-color, initial);
outline-offset: var(--active-outline-offset, initial);
outline-style: var(--active-outline-style, initial);
outline-width: var(--active-outline-width, initial);
overflow: var(--active-overflow, initial);
overflow-x: var(--active-overflow-x, initial);
overflow-y: var(--active-overflow-y, initial);
pointer-events: var(--active-pointer-events, initial);
resize: var(--active-resize, initial);
text-align: var(--active-text-align, initial);
text-decoration: var(--active-text-decoration, initial);
text-overflow: var(--active-text-overflow, initial);
text-shadow: var(--active-text-shadow, initial);
text-transform: var(--active-text-transform, initial);
transform: var(--active-transform, initial);
transform-origin: var(--active-transform-origin, initial);
transform-style: var(--active-transform-style, initial);
transition: var(--active-transition, initial);
transition-delay: var(--active-transition-delay, initial);
transition-duration: var(--active-transition-duration, initial);
transition-property: var(--active-transition-property, initial);
transition-timing-function: var(--active-transition-timing-function, initial);
user-select: var(--active-user-select, initial);
vertical-align: var(--active-vertical-align, initial);
visibility: var(--active-visibility, initial);
white-space: var(--active-white-space, initial);
z-index: var(--active-z-index, initial);
}
.RS-ElementBase:disabled {
color: var(--disabled-color, initial);
display: var(--disabled-display, var(--base-display, var(--default-display, block)));
position: var(--disabled-position, initial);
width: var(--disabled-width, initial);
min-width: var(--disabled-min-width, initial);
max-width: var(--disabled-max-width, initial);
height: var(--disabled-height, initial);
min-height: var(--disabled-min-height, initial);
max-height: var(--disabled-max-height, initial);
top: var(--disabled-top, initial);
bottom: var(--disabled-bottom, initial);
left: var(--disabled-left, initial);
right: var(--disabled-right, initial);
padding-left: var(--disabled-padding-left, var(--disabled-padding-horizontal, var(--disabled-padding, var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0)))))));
padding-right: var(--disabled-padding-right, var(--disabled-padding-horizontal, var(--disabled-padding, var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0)))))));
padding-top: var(--disabled-padding-top, var(--disabled-padding-vertical, var(--disabled-padding, var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0)))))));
padding-bottom: var(--disabled-padding-bottom, var(--disabled-padding-vertical, var(--disabled-padding, var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0)))))));
margin-left: var(--disabled-margin-left, var(--disabled-margin-horizontal, var(--disabled-margin, var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0)))))));
margin-right: var(--disabled-margin-right, var(--disabled-margin-horizontal, var(--disabled-margin, var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0)))))));
margin-top: var(--disabled-margin-top, var(--disabled-margin-vertical, var(--disabled-margin, var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0)))))));
margin-bottom: var(--disabled-margin-bottom, var(--disabled-margin-vertical, var(--disabled-margin, var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0)))))));
animation: var(--disabled-animation, initial);
animation-delay: var(--disabled-animation-delay, initial);
animation-direction: var(--disabled-animation-direction, initial);
animation-duration: var(--disabled-animation-duration, initial);
animation-fill-mode: var(--disabled-animation-fill-mode, initial);
animation-iteration-count: var(--disabled-animation-iteration-count, initial);
animation-name: var(--disabled-animation-name, initial);
animation-play-state: var(--disabled-animation-play-state, initial);
animation-timing-function: var(--disabled-animation-timing-function, initial);
background: var(--disabled-background, initial);
background-attachment: var(--disabled-background-attachment, initial);
background-blend-mode: var(--disabled-background-blend-mode, initial);
background-clip: var(--disabled-background-clip, initial);
background-color: var(--disabled-background-color, initial);
background-image: var(--disabled-background-image, initial);
background-origin: var(--disabled-background-origin, initial);
background-position: var(--disabled-background-position, initial);
background-position-x: var(--disabled-background-position-x, initial);
background-position-y: var(--disabled-background-position-y, initial);
background-repeat: var(--disabled-background-repeat, initial);
background-size: var(--disabled-background-size, initial);
border-radius: var(--disabled-border-radius, initial);
border-bottom-left-radius: var(--disabled-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--disabled-border-bottom-right-radius, initial);
border-top-left-radius: var(--disabled-border-top-left-radius, initial);
border-top-right-radius: var(--disabled-border-top-right-radius, initial);
border-collapse: var(--disabled-border-collapse, initial);
border-spacing: var(--disabled-border-spacing, initial);
border: var(--disabled-border, initial);
border-color: var(--disabled-border-color, initial);
border-style: var(--disabled-border-style, initial);
border-width: var(--disabled-border-width, initial);
border-bottom: var(--disabled-border-bottom, initial);
border-bottom-color: var(--disabled-border-bottom-color, initial);
border-bottom-style: var(--disabled-border-bottom-style, initial);
border-bottom-width: var(--disabled-border-bottom-width, initial);
border-left: var(--disabled-border-left, initial);
border-left-color: var(--disabled-border-left-color, initial);
border-left-style: var(--disabled-border-left-style, initial);
border-left-width: var(--disabled-border-left-width, initial);
border-right: var(--disabled-border-right, initial);
border-right-color: var(--disabled-border-right-color, initial);
border-right-style: var(--disabled-border-right-style, initial);
border-right-width: var(--disabled-border-right-width, initial);
border-top: var(--disabled-border-top, initial);
border-top-color: var(--disabled-border-top-color, initial);
border-top-style: var(--disabled-border-top-style, initial);
border-top-width: var(--disabled-border-top-width, initial);
box-shadow: var(--disabled-box-shadow, initial);
box-sizing: var(--disabled-box-sizing, initial);
float: var(--disabled-float, initial);
clear: var(--disabled-clear, initial);
content: var(--disabled-content, initial);
cursor: var(--disabled-cursor, initial);
direction: var(--disabled-direction, initial);
flex: var(--disabled-flex, initial);
flex-basis: var(--disabled-flex-basis, initial);
flex-direction: var(--disabled-flex-direction, initial);
flex-flow: var(--disabled-flex-flow, initial);
flex-grow: var(--disabled-flex-grow, initial);
flex-shrink: var(--disabled-flex-shrink, initial);
flex-wrap: var(--disabled-flex-wrap, initial);
justify-content: var(--disabled-justify-content, initial);
align-items: var(--disabled-align-items, initial);
align-self: var(--disabled-align-self, initial);
align-content: var(--disabled-align-content, initial);
order: var(--disabled-order, initial);
font: var(--disabled-font, initial);
font-family: var(--disabled-font-family, initial);
font-size: var(--disabled-font-size, initial);
font-style: var(--disabled-font-style, initial);
font-weight: var(--disabled-font-weight, initial);
line-height: var(--disabled-line-height, initial);
list-style: var(--disabled-list-style, initial);
list-style-image: var(--disabled-list-style-image, initial);
list-style-position: var(--disabled-list-style-position, initial);
list-style-type: var(--disabled-list-style-type, initial);
opacity: var(--disabled-opacity, initial);
outline: var(--disabled-outline, initial);
outline-color: var(--disabled-outline-color, initial);
outline-offset: var(--disabled-outline-offset, initial);
outline-style: var(--disabled-outline-style, initial);
outline-width: var(--disabled-outline-width, initial);
overflow: var(--disabled-overflow, initial);
overflow-x: var(--disabled-overflow-x, initial);
overflow-y: var(--disabled-overflow-y, initial);
pointer-events: var(--disabled-pointer-events, initial);
resize: var(--disabled-resize, initial);
text-align: var(--disabled-text-align, initial);
text-decoration: var(--disabled-text-decoration, initial);
text-overflow: var(--disabled-text-overflow, initial);
text-shadow: var(--disabled-text-shadow, initial);
text-transform: var(--disabled-text-transform, initial);
transform: var(--disabled-transform, initial);
transform-origin: var(--disabled-transform-origin, initial);
transform-style: var(--disabled-transform-style, initial);
transition: var(--disabled-transition, initial);
transition-delay: var(--disabled-transition-delay, initial);
transition-duration: var(--disabled-transition-duration, initial);
transition-property: var(--disabled-transition-property, initial);
transition-timing-function: var(--disabled-transition-timing-function, initial);
user-select: var(--disabled-user-select, initial);
vertical-align: var(--disabled-vertical-align, initial);
visibility: var(--disabled-visibility, initial);
white-space: var(--disabled-white-space, initial);
z-index: var(--disabled-z-index, initial);
}
.RS-ElementBase:firstChild {
color: var(--firstChild-color, initial);
display: var(--firstChild-display, var(--base-display, var(--default-display, block)));
position: var(--firstChild-position, initial);
width: var(--firstChild-width, initial);
min-width: var(--firstChild-min-width, initial);
max-width: var(--firstChild-max-width, initial);
height: var(--firstChild-height, initial);
min-height: var(--firstChild-min-height, initial);
max-height: var(--firstChild-max-height, initial);
top: var(--firstChild-top, initial);
bottom: var(--firstChild-bottom, initial);
left: var(--firstChild-left, initial);
right: var(--firstChild-right, initial);
padding-left: var(--firstChild-padding-left, var(--firstChild-padding-horizontal, var(--firstChild-padding, var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0)))))));
padding-right: var(--firstChild-padding-right, var(--firstChild-padding-horizontal, var(--firstChild-padding, var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0)))))));
padding-top: var(--firstChild-padding-top, var(--firstChild-padding-vertical, var(--firstChild-padding, var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0)))))));
padding-bottom: var(--firstChild-padding-bottom, var(--firstChild-padding-vertical, var(--firstChild-padding, var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0)))))));
margin-left: var(--firstChild-margin-left, var(--firstChild-margin-horizontal, var(--firstChild-margin, var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0)))))));
margin-right: var(--firstChild-margin-right, var(--firstChild-margin-horizontal, var(--firstChild-margin, var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0)))))));
margin-top: var(--firstChild-margin-top, var(--firstChild-margin-vertical, var(--firstChild-margin, var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0)))))));
margin-bottom: var(--firstChild-margin-bottom, var(--firstChild-margin-vertical, var(--firstChild-margin, var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0)))))));
animation: var(--firstChild-animation, initial);
animation-delay: var(--firstChild-animation-delay, initial);
animation-direction: var(--firstChild-animation-direction, initial);
animation-duration: var(--firstChild-animation-duration, initial);
animation-fill-mode: var(--firstChild-animation-fill-mode, initial);
animation-iteration-count: var(--firstChild-animation-iteration-count, initial);
animation-name: var(--firstChild-animation-name, initial);
animation-play-state: var(--firstChild-animation-play-state, initial);
animation-timing-function: var(--firstChild-animation-timing-function, initial);
background: var(--firstChild-background, initial);
background-attachment: var(--firstChild-background-attachment, initial);
background-blend-mode: var(--firstChild-background-blend-mode, initial);
background-clip: var(--firstChild-background-clip, initial);
background-color: var(--firstChild-background-color, initial);
background-image: var(--firstChild-background-image, initial);
background-origin: var(--firstChild-background-origin, initial);
background-position: var(--firstChild-background-position, initial);
background-position-x: var(--firstChild-background-position-x, initial);
background-position-y: var(--firstChild-background-position-y, initial);
background-repeat: var(--firstChild-background-repeat, initial);
background-size: var(--firstChild-background-size, initial);
border-radius: var(--firstChild-border-radius, initial);
border-bottom-left-radius: var(--firstChild-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--firstChild-border-bottom-right-radius, initial);
border-top-left-radius: var(--firstChild-border-top-left-radius, initial);
border-top-right-radius: var(--firstChild-border-top-right-radius, initial);
border-collapse: var(--firstChild-border-collapse, initial);
border-spacing: var(--firstChild-border-spacing, initial);
border: var(--firstChild-border, initial);
border-color: var(--firstChild-border-color, initial);
border-style: var(--firstChild-border-style, initial);
border-width: var(--firstChild-border-width, initial);
border-bottom: var(--firstChild-border-bottom, initial);
border-bottom-color: var(--firstChild-border-bottom-color, initial);
border-bottom-style: var(--firstChild-border-bottom-style, initial);
border-bottom-width: var(--firstChild-border-bottom-width, initial);
border-left: var(--firstChild-border-left, initial);
border-left-color: var(--firstChild-border-left-color, initial);
border-left-style: var(--firstChild-border-left-style, initial);
border-left-width: var(--firstChild-border-left-width, initial);
border-right: var(--firstChild-border-right, initial);
border-right-color: var(--firstChild-border-right-color, initial);
border-right-style: var(--firstChild-border-right-style, initial);
border-right-width: var(--firstChild-border-right-width, initial);
border-top: var(--firstChild-border-top, initial);
border-top-color: var(--firstChild-border-top-color, initial);
border-top-style: var(--firstChild-border-top-style, initial);
border-top-width: var(--firstChild-border-top-width, initial);
box-shadow: var(--firstChild-box-shadow, initial);
box-sizing: var(--firstChild-box-sizing, initial);
float: var(--firstChild-float, initial);
clear: var(--firstChild-clear, initial);
content: var(--firstChild-content, initial);
cursor: var(--firstChild-cursor, initial);
direction: var(--firstChild-direction, initial);
flex: var(--firstChild-flex, initial);
flex-basis: var(--firstChild-flex-basis, initial);
flex-direction: var(--firstChild-flex-direction, initial);
flex-flow: var(--firstChild-flex-flow, initial);
flex-grow: var(--firstChild-flex-grow, initial);
flex-shrink: var(--firstChild-flex-shrink, initial);
flex-wrap: var(--firstChild-flex-wrap, initial);
justify-content: var(--firstChild-justify-content, initial);
align-items: var(--firstChild-align-items, initial);
align-self: var(--firstChild-align-self, initial);
align-content: var(--firstChild-align-content, initial);
order: var(--firstChild-order, initial);
font: var(--firstChild-font, initial);
font-family: var(--firstChild-font-family, initial);
font-size: var(--firstChild-font-size, initial);
font-style: var(--firstChild-font-style, initial);
font-weight: var(--firstChild-font-weight, initial);
line-height: var(--firstChild-line-height, initial);
list-style: var(--firstChild-list-style, initial);
list-style-image: var(--firstChild-list-style-image, initial);
list-style-position: var(--firstChild-list-style-position, initial);
list-style-type: var(--firstChild-list-style-type, initial);
opacity: var(--firstChild-opacity, initial);
outline: var(--firstChild-outline, initial);
outline-color: var(--firstChild-outline-color, initial);
outline-offset: var(--firstChild-outline-offset, initial);
outline-style: var(--firstChild-outline-style, initial);
outline-width: var(--firstChild-outline-width, initial);
overflow: var(--firstChild-overflow, initial);
overflow-x: var(--firstChild-overflow-x, initial);
overflow-y: var(--firstChild-overflow-y, initial);
pointer-events: var(--firstChild-pointer-events, initial);
resize: var(--firstChild-resize, initial);
text-align: var(--firstChild-text-align, initial);
text-decoration: var(--firstChild-text-decoration, initial);
text-overflow: var(--firstChild-text-overflow, initial);
text-shadow: var(--firstChild-text-shadow, initial);
text-transform: var(--firstChild-text-transform, initial);
transform: var(--firstChild-transform, initial);
transform-origin: var(--firstChild-transform-origin, initial);
transform-style: var(--firstChild-transform-style, initial);
transition: var(--firstChild-transition, initial);
transition-delay: var(--firstChild-transition-delay, initial);
transition-duration: var(--firstChild-transition-duration, initial);
transition-property: var(--firstChild-transition-property, initial);
transition-timing-function: var(--firstChild-transition-timing-function, initial);
user-select: var(--firstChild-user-select, initial);
vertical-align: var(--firstChild-vertical-align, initial);
visibility: var(--firstChild-visibility, initial);
white-space: var(--firstChild-white-space, initial);
z-index: var(--firstChild-z-index, initial);
}
.RS-ElementBase:lastChild {
color: var(--lastChild-color, initial);
display: var(--lastChild-display, var(--base-display, var(--default-display, block)));
position: var(--lastChild-position, initial);
width: var(--lastChild-width, initial);
min-width: var(--lastChild-min-width, initial);
max-width: var(--lastChild-max-width, initial);
height: var(--lastChild-height, initial);
min-height: var(--lastChild-min-height, initial);
max-height: var(--lastChild-max-height, initial);
top: var(--lastChild-top, initial);
bottom: var(--lastChild-bottom, initial);
left: var(--lastChild-left, initial);
right: var(--lastChild-right, initial);
padding-left: var(--lastChild-padding-left, var(--lastChild-padding-horizontal, var(--lastChild-padding, var(--base-padding-left, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-left, 0)))))));
padding-right: var(--lastChild-padding-right, var(--lastChild-padding-horizontal, var(--lastChild-padding, var(--base-padding-right, var(--base-padding-horizontal, var(--base-padding, var(--default-padding-right, 0)))))));
padding-top: var(--lastChild-padding-top, var(--lastChild-padding-vertical, var(--lastChild-padding, var(--base-padding-top, var(--base-padding-vertical, var(--base-padding, var(--default-padding-top, 0)))))));
padding-bottom: var(--lastChild-padding-bottom, var(--lastChild-padding-vertical, var(--lastChild-padding, var(--base-padding-bottom, var(--base-padding-vertical, var(--base-padding, var(--default-padding-bottom, 0)))))));
margin-left: var(--lastChild-margin-left, var(--lastChild-margin-horizontal, var(--lastChild-margin, var(--base-margin-left, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-left, 0)))))));
margin-right: var(--lastChild-margin-right, var(--lastChild-margin-horizontal, var(--lastChild-margin, var(--base-margin-right, var(--base-margin-horizontal, var(--base-margin, var(--default-margin-right, 0)))))));
margin-top: var(--lastChild-margin-top, var(--lastChild-margin-vertical, var(--lastChild-margin, var(--base-margin-top, var(--base-margin-vertical, var(--base-margin, var(--default-margin-top, 0)))))));
margin-bottom: var(--lastChild-margin-bottom, var(--lastChild-margin-vertical, var(--lastChild-margin, var(--base-margin-bottom, var(--base-margin-vertical, var(--base-margin, var(--default-margin-bottom, 0)))))));
animation: var(--lastChild-animation, initial);
animation-delay: var(--lastChild-animation-delay, initial);
animation-direction: var(--lastChild-animation-direction, initial);
animation-duration: var(--lastChild-animation-duration, initial);
animation-fill-mode: var(--lastChild-animation-fill-mode, initial);
animation-iteration-count: var(--lastChild-animation-iteration-count, initial);
animation-name: var(--lastChild-animation-name, initial);
animation-play-state: var(--lastChild-animation-play-state, initial);
animation-timing-function: var(--lastChild-animation-timing-function, initial);
background: var(--lastChild-background, initial);
background-attachment: var(--lastChild-background-attachment, initial);
background-blend-mode: var(--lastChild-background-blend-mode, initial);
background-clip: var(--lastChild-background-clip, initial);
background-color: var(--lastChild-background-color, initial);
background-image: var(--lastChild-background-image, initial);
background-origin: var(--lastChild-background-origin, initial);
background-position: var(--lastChild-background-position, initial);
background-position-x: var(--lastChild-background-position-x, initial);
background-position-y: var(--lastChild-background-position-y, initial);
background-repeat: var(--lastChild-background-repeat, initial);
background-size: var(--lastChild-background-size, initial);
border-radius: var(--lastChild-border-radius, initial);
border-bottom-left-radius: var(--lastChild-border-bottom-left-radius, initial);
border-bottom-right-radius: var(--lastChild-border-bottom-right-radius, initial);
border-top-left-radius: var(--lastChild-border-top-left-radius, initial);
border-top-right-radius: var(--lastChild-border-top-right-radius, initial);
border-collapse: var(--lastChild-border-collapse, initial);
border-spacing: var(--lastChild-border-spacing, initial);
border: var(--lastChild-border, initial);
border-color: var(--lastChild-border-color, initial);
border-style: var(--lastChild-border-style, initial);
border-width: var(--lastChild-border-width, initial);
border-bottom: var(--lastChild-border-bottom, initial);
border-bottom-color: var(--lastChild-border-bottom-color, initial);
border-bottom-style: var(--lastChild-border-bottom-style, initial);
border-bottom-width: var(--lastChild-border-bottom-width, initial);
border-left: var(--lastChild-border-left, initial);
border-left-color: var(--lastChild-border-left-color, initial);
border-left-style: var(--lastChild-border-left-style, initial);
border-left-width: var(--lastChild-border-left-width, initial);
border-right: var(--lastChild-border-right, initial);
border-right-color: var(--lastChild-border-right-color, initial);
border-right-style: var(--lastChild-border-right-style, initial);
border-right-width: var(--lastChild-border-right-width, initial);
border-top: var(--lastChild-border-top, initial);
border-top-color: var(--lastChild-border-top-color, initial);
border-top-style: var(--lastChild-border-top-style, initial);
border-top-width: var(--lastChild-border-top-width, initial);
box-shadow: var(--lastChild-box-shadow, initial);
box-sizing: var(--lastChild-box-sizing, initial);
float: var(--lastChild-float, initial);
clear: var(--lastChild-clear, initial);
content: var(--lastChild-content, initial);
cursor: var(--lastChild-cursor, initial);
direction: var(--lastChild-direction, initial);
flex: var(--lastChild-flex, initial);
flex-basis: var(--lastChild-flex-basis, initial);
flex-direction: var(--lastChild-flex-direction, initial);
flex-flow: var(--lastChild-flex-flow, initial);
flex-grow: var(--lastChild-flex-grow, initial);
flex-shrink: var(--lastChild-flex-shrink, initial);
flex-wrap: var(--lastChild-flex-wrap, initial);
justify-content: var(--lastChild-justify-content, initial);
align-items: var(--lastChild-align-items, initial);
align-self: var(--lastChild-align-self, initial);
align-content: var(--lastChild-align-content, initial);
order: var(--lastChild-order, initial);
font: var(--lastChild-font, initial);
font-family: var(--lastChild-font-family, initial);
font-size: var(--lastChild-font-size, initial);
font-style: var(--lastChild-font-style, initial);
font-weight: var(--lastChild-font-weight, initial);
line-height: var(--lastChild-line-height, initial);
list-style: var(--lastChild-list-style, initial);
list-style-image: var(--lastChild-list-style-image, initial);
list-style-position: var(--lastChild-list-style-position, initial);
list-style-type: var(--lastChild-list-style-type, initial);
opacity: var(--lastChild-opacity, initial);
outline: var(--lastChild-outline, initial);
outline-color: var(--lastChild-outline-color, initial);
outline-offset: var(--lastChild-outline-offset, initial);
outline-style: var(--lastChild-outline-style, initial);
outline-width: var(--lastChild-outline-width, initial);
overflow: var(--lastChild-overflow, initial);
overflow-x: var(--lastChild-overflow-x, initial);
overflow-y: var(--lastChild-overflow-y, initial);
pointer-events: var(--lastChild-pointer-events, initial);
resize: var(--lastChild-resize, initial);
text-align: var(--lastChild-text-align, initial);
text-decoration: var(--lastChild-text-decoration, initial);
text-overflow: var(--lastChild-text-overflow, initial);
text-shadow: var(--lastChild-text-shadow, initial);
text-transform: var(--lastChild-text-transform, initial);
transform: var(--lastChild-transform, initial);
transform-origin: var(--lastChild-transform-origin, initial);
transform-style: var(--lastChild-transform-style, initial);
transition: var(--lastChild-transition, initial);
transition-delay: var(--lastChild-transition-delay, initial);
transition-duration: var(--lastChild-transition-duration, initial);
transition-property: var(--lastChild-transition-property, initial);
transition-timing-function: var(--lastChild-transition-timing-function, initial);
user-select: var(--lastChild-user-select, initial);
vertical-align: var(--lastChild-vertical-align, initial);
visibility: var(--lastChild-visibility, initial);
white-space: var(--lastChild-white-space, initial);
z-index: var(--lastChild-z-index, initial);
}
.RS-VBoxBase {
--default-position: relative;
--default-margin: 0;
--default-padding: 0;
--default-display: flex;
--default-align-items: stretch;
--default-flex-basis: auto;
--default-flex-shrink: 0;
--default-min-height: 0;
--default-min-width: 0;
--default-flex-direction: column;
}
.RS-HBoxBase {
--default-position: relative;
--default-margin: 0;
--default-padding: 0;
--default-display: flex;
--default-align-items: stretch;
--default-flex-basis: auto;
--default-flex-shrink: 0;
--default-min-height: 0;
--default-min-width: 0;
--default-flex-direction: row;
}
